/* ------------------------------------------------------- */
/* body */
body{
    width: 100%;
    height: 100%;
    font-family: 'Rowdies', cursive;
    scroll-behavior: smooth;
    background-image: url(images/homeImg.png);
    background-size: cover;
    margin: 0;
}
/* ------------------------------------------------------- */
/* general */
main{
    position: relative;
}

h1, h2, ul, li{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
p{
    margin-bottom: 1em;
    line-height: .7em;
}

/* ------------------------------------------------------- */
/* text styles */

header h2 {
    color: #0E371C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    padding: 30px 0 0 40px;
}
h2{
    font-weight: 700;
    font-size: 30px;
    color: #2A302C;
    padding: 10px;
}
h3{
    color: #7aa788;
}
p, li{
    color: #CADBCF;
    padding-left: 10px;
}


/* section general styles */


main > div{
    
    display: flex;
    flex-direction: column;
    margin: 0px 100px 0 100px;
    border-bottom: solid 3px #0E371C;
    border-radius: 10px;
}

main > div > section{
    background-color: #cadbcfba;
    border-top: solid 3px #0E371C;
    border-left: solid 3px #0E371C;
    border-right: solid 3px #0E371C;
    
    
}

#hints{
    border-top: solid 3px #0E371C;
    height: auto;
    padding-top: 5px;
    background-color: #3c4e419e;
    padding-bottom: 10px;
}





