/* body styles */
body{
    background-color: darkslateblue;
}
/* ------------------------------------------------------- */
/* header styles */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    display: block;
    margin-top: 5%;
    color: white;
}
header h1{
    font-size: 96px;
    margin-bottom: 5%;
    margin-top: 250px;
}
header h2{
    font-size: 48px;
    width: 600px;
    margin: auto;
}
/* ------------------------------------------------------- */
/* text styles */
h1,h2{
    color: white;
    font-family: 'Darumadrop One', cursive;
    text-align: center;
    font-size: 200px;
}
/* ------------------------------------------------------- */
/* div styles*/
div h1{
    margin: 0;
}
div h2{
    margin: 0;
}
/* ------------------------------------------------------- */
/* mountain image style*/
.mount{
    width: 100%;
    display: block;
    position: sticky;
    top: 0;
    z-index: -1;
}
/* ------------------------------------------------------- */
/* trees image style*/
.tree{
    width: 100%;
    display: block;
    position: sticky;
    top: 0;
}
/* ------------------------------------------------------- */
/*spacing*/
.box{
    height: 350px;
}
/* ------------------------------------------------------- */
/*canvas elements for gradient - styles*/
#canvas-header, #canvas-magic, #canvas-empress, #canvas-emperor{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}